* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.column {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.column:first-child {
    margin-right: 40px;
}


.timer-box {
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #2c3e50;
}

.input-wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.input-wrapper:last-child {
    margin-right: 0;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(48, 48, 48);
}
  

input {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px; /* Adiciona margem à direita */
    margin-left: 10px;
}

.timer {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #2c3e50;
}

button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s;
    margin-right: 0.5rem;
}

button:hover {
    background-color: #2980b9;
}

button:last-child {
    margin-right: 0;
}
