body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: repeat;
}         

label[for="quantidade"] {
  margin-bottom: 10px;
  font-size: 13px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

input[type="number"]#quantidadeInput {
  padding: 7px;
  color: white; 
  background-color: #00162b;
  font-size: 13px;
  margin-bottom: 3px;
  border: 2px solid rgba(0, 255, 242, 0.568);
  border-radius: 10px;
  margin-bottom: 20px;

}

h1 {
  font-size: 13px;
  color: white; 
  margin-bottom: 24px;
  background-color: #00162b;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  border: 2px solid rgba(0, 255, 242, 0.568);
}

h2, h3 {
  font-size: 13px;
  color: white; 
  margin-bottom: 1px;
  margin-top: 1px;
  background-color: #00162b;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(0, 255, 242, 0.568);
}

input[type="file"] {
  background-color: #00162b;
  padding: 7px;
  color: white; 
  font-size: 13px;
  margin-bottom: 3px;
  border: 2px solid rgba(0, 255, 242, 0.568);
  border-radius: 10px;
  flex-shrink: 0;

}

label[for="quantidade"] {
  color: white;
  text-shadow: 2px 2px 2px black;
}      

button {
  padding: 9px 9px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: #00162b;
  color: white;
  border: 2px solid rgba(0, 255, 242, 0.568);
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #001b35;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  }

#resultado {
  font-size: 13px;
  margin-bottom: 1px;
  overflow: auto;
}

ol {
  list-style: none;
  margin-bottom: 5;
  overflow: auto;
  max-height: calc(100vh - 550px);
  border: 1px solid #333;
  border-radius: 5px;
  border: 2px solid rgba(0, 255, 242, 0.568);
  padding: 6px;
  background-color: #00162b;
  color: white;
  flex-shrink: 0;

}      

li {
  font-size: 13px;
  margin-bottom: 12px;
  flex-shrink: 0;
}

input[type="text"]#keywordsInput {
  padding: 7px;
  color: white; 
  background-color: #00162b;
  font-size: 13px;
  margin-bottom: 3px;
  border: 2px solid rgba(0, 255, 242, 0.568);
  border-radius: 10px;
  margin-bottom: 20px;
}

label[for="keywords"] {
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 10px;

}
