* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  background-color: #f2f2f2;
  min-height: 100vh;
  zoom: 0.8;
}

header {
  text-align: center;
  padding: 5px;
  background-color: #333;
  color: #fff;
}

header img {
  max-width: 200px; /* Define o tamanho máximo da imagem */
  height: auto; /* Permite que a altura seja ajustada automaticamente de acordo com a largura */
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

main {
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.input-section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="file"],
input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}

.result-section {
  margin-top: 40px;
  min-height: 200px
}

.result-section h2,
.result-section h3,
.result-section ol {
  text-align: center;
  margin-bottom: 5px;
}

h2,
h3 {
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

ol {
  list-style: none;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 180px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {
h1 {
  font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
h1 {
  font-size: 18px;
}

button {
  font-size: 12px;
  }
}
